<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
</head>

<body>
  <div class="site-wrapper">

    <main class="main">

      <div id="app">
        <div class="container">
          <h2>Progress bar</h2>
            <div class="progress-bar">
              <div class="progress-bar__inner"
                v-bind:style="progressBarWidth"
              ></div>
            </div>

          <form action="#" 
            class="form-component"
            v-if="showForm"
            v-on:submit.prevent="showForm = false"
          >
          
            <h2>Form</h2>
            <validate-field
              v-for="(field, index) in info"
              v-bind:key="field.name"
              v-bind:name="field.name"
              v-bind:value.sync="field.value"
              v-bind:pattern="field.pattern"
              v-on:change-status="statusChange(index, $event)"
            ></validate-field>

            <button class="btn btn_md" 
              type="submit"
              v-bind:disabled="done < info.length"
            >Send data</button>
          </form>

          <div class="table-component"
            v-else
          >
            <table>
              <tr v-for="item in info">
                <td>{{item.name}}</td>
                <td>{{item.value}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      
    </main>
  </div>
</body>

</html>