<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
</head>

<body>
  <div class="site-wrapper">

    <main class="main">

      <div id="app">
        <div class="container">
          <div class="status-order">
            <transition-group 
              tag="ul"
              class="status-list"
              enter-active-class="animated fadeIn"
              leave-active-class="animated fadeOut"
              mode="out-in"
            >
              <li v-for="(item, index) in status"
                :key="index"
              >
                <div class="status-date">{{ item.date }}</div>
                {{ item.text }}
              </li>
            </transition-group>
          </div>

          <a href="#" class="cart"
            :class="{ 'animated tada': !dinoCartFlies }"
          >
            <transition
              name="dino-flies"
            >
              <span class="dinosaur-to-cart"
                v-if="dinoCartFlies"
              ></span>
            </transition>
            <span class="cart-value"
              v-show="cartValue"
            >
              {{ cartValue }}
            </span>
          </a>

          <div class="products-wrapper">
            <div class="products-list-wrapper">
              <div class="products-filter">
                <label class="field-item">
                  <div class="field-item__label">Search in list</div>
                  <div class="field-item__field">
                    <input type="text" 
                      v-model="searchDino"
                    >
                  </div>
                </div>
              </label>
              <ul class="products-list">
                <li v-for="(dino, index) in filterSearch"
                  :key="dino.id"
                >
                  <button :class="{active: dinosaurCard.name === dino.name}"
                    @click="activateDino(index)"
                  >
                    {{ dino.name }}
                  </button>
                </li>
              </ul>
            </div>

            <div class="product-card">
              <h2 class="product-card__name">
                {{ dinosaurCard.name }}
              </h2>
              <div class="product-card__image">
                <img :src="dinosaurCard.image"
                  :alt="dinosaurCard.name"
                >
              </div>
            </div>

            <div class="product-card-info">
              <h4>About dinosaur</h4>
              <ul class="product-info-list">
                <li><strong>Family:</strong> {{ dinosaurCard.family }}</li>
                <li><strong>Wegiht:</strong> {{ dinosaurCard.weight }}</li>
                <li><strong>Speed:</strong> {{ dinosaurCard.speed }}</li>
                <li>{{ dinosaurCard.about }}</li>
              </ul>

              <div class="product-price"><strong>Price:</strong> {{ dinosaurCard.price }}</div>

              <div class="product-contacts">
                <div class="product-contacts__phone"
                  v-if="visiblePhone"
                ><strong>Phone number:</strong> +1 555 244 25 01</div>
              </div>

              <div class="product-btns">
                <div class="product-btn">
                  <button class="btn btn_md"
                    @click="visiblePhone = true"
                    :disabled="visiblePhone"
                  >Show phone</button>
                </div>
                <div class="product-btn">
                  <button class="btn btn_md btn_second-st"
                    @click="showModal = !showModal"
                  >Buy</button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="my-modal"
          v-if="showModal"
          @click.self="showModal = !showModal"
        >
          <transition appear
            name="modal-slide"
          >
            <div class="modal-inner">
              <button class="close-modal"
                @click="showModal = !showModal"
              >&times;</button>

              <div class="modal-inner__head">
                <h2>{{ dinosaurCard.name }}</h2>
              </div>

              <div class="modal-inner__body">
                <div class="modal-product-info">
                  <div class="modal-product-info__image">
                    <img :src="dinosaurCard.image"
                      :alt="dinosaurCard.name"
                    >
                  </div>

                  <ul class="product-info-list">
                    <li><strong>Family:</strong> {{ dinosaurCard.family }}</li>
                    <li><strong>Wegiht:</strong> {{ dinosaurCard.weight }}</li>
                    <li><strong>Speed:</strong> {{ dinosaurCard.speed }}</li>
                    <li>
                      <div class="product-price"><strong>Price:</strong> {{ dinosaurCard.price }}</div>
                    </li>
                  </ul>

                </div>
              </div>

              <div class="modal-inner__footer">
                <div class="product-btn">
                  <button class="btn btn_md"
                    @click="showModal = !showModal"
                  >Cancel</button>
                </div>
                <div class="product-btn">
                  <button class="btn btn_md btn_second-st"
                    @click="buyOrder"
                  >Buy</button>
                </div>
              </div>
            </div>
          </transition>
        </div>
      </div>
      
    </main>
  </div>
</body>

</html>